@font-face {
  font-weight: 400;
  font-family: "Manrope";
  font-style: normal;
  src: url("../fonts/Manroperegular.woff2") format("woff2"), url("../fonts/Manroperegular.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-family: "Manrope";
  font-style: normal;
  src: url("../fonts/Manropesemibold.woff2") format("woff2"), url("../fonts/Manropesemibold.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Manrope";
  font-style: normal;
  src: url("../fonts/Manropebold.woff2") format("woff2"), url("../fonts/Manropebold.woff") format("woff");
}
body {
  font-family: "Manrope", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #282828;
  margin: 0;
  padding: 0;
  height: 100px;
}
.header__wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100px;
}
.header__logo {
  margin-right: 30px;
}
.header__menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
.header__menu-item {
  margin-right: 25px;
}
.header__menu-item:last-child {
  margin-right: 0;
}
.header__menu-item a {
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
}
.header__menu-item a:hover {
  color: #187dc0;
}
.header__login-nav {
  margin-left: auto;
}
.header__login-link {
  color: #fff;
  text-decoration: none;
  background-color: #187dc0;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.header__login-link:hover {
  background-color: #0c659f;
}
.main-page {
  height: calc(100vh - 100px);
  width: 100%;
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.main-page__wrapper {
  width: 1000px;
  margin: 0 auto;
  height: calc(0vh);
}
.main-page__link {
  background-color: #3f163d;
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -160px;
  top: 80%;
  margin-top: -23px;
  transition: 0.3s;
}
.main-page__link:hover {
  background-color: #2d002b;
}
.main-page__logo-img {
  margin: 0 auto;
  display: block;
  width: 275;
  height: 268;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -134px;
  margin-left: -137px;
}
.login-popup {
  width: 480px;
  height: 380px;
  background-color: #282828;
  position: fixed;
  top: 50%;
  margin-top: -160px;
  left: 50%;
  margin-left: -240px;
  z-index: 10;
  display: none;
}
.login-popup--show {
  display: block;
}
.login-popup__wrapper {
  width: 320px;
  margin: 0 auto;
}
.login-popup__field-group {
  margin-top: 15px;
}
.login-popup__field-label {
  display: block;
  color: #fff;
  font-size: 20px;
}
.login-popup__field-input {
  width: 320px;
  height: 50px;
  box-sizing: border-box;
  color: #282828;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
}
.login-popup__remember {
  color: #fff;
}
.login-popup__restore {
  color: #187dc0;
  text-decoration: none;
  float: right;
}
.login-popup__btn-group {
  margin-top: 20px;
}
.login-popup__btn {
  color: #fff;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 320px;
  height: 50px;
  background-color: #3f163d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-popup__btn--reg {
  margin-top: 15px;
  background-color: #187dc0;
}
.login-popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  border: 0;
  z-index: 11;
  background: transparent;
  cursor: pointer;
  font-size: 0;
}
.login-popup__close::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  width: 22px;
  height: 2px;
  background: #d0d0d0;
  transform: rotate(45deg);
}
.login-popup__close::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  width: 22px;
  height: 2px;
  background: #d0d0d0;
  transform: rotate(-45deg);
}
.reg-popup {
  width: 480px;
  height: 380px;
  background-color: #282828;
  position: fixed;
  top: 50%;
  margin-top: -160px;
  left: 50%;
  margin-left: -240px;
  z-index: 10;
  display: none;
}
.reg-popup--show {
  display: block;
}
.reg-popup__wrapper {
  width: 320px;
  margin: 0 auto;
}
.reg-popup__field-group {
  margin-top: 15px;
}
.reg-popup__field-group--last {
  margin-top: 10px;
}
.reg-popup__field-label {
  display: block;
  color: #fff;
  font-size: 20px;
}
.reg-popup__field-input {
  width: 320px;
  height: 50px;
  box-sizing: border-box;
  color: #282828;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
}
.reg-popup__btn-group {
  margin-top: 20px;
}
.reg-popup__btn {
  color: #fff;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 320px;
  height: 50px;
  background-color: #187dc0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.reg-popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  border: 0;
  z-index: 11;
  background: transparent;
  cursor: pointer;
  font-size: 0;
}
.reg-popup__close::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  width: 22px;
  height: 2px;
  background: #d0d0d0;
  transform: rotate(45deg);
}
.reg-popup__close::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  width: 22px;
  height: 2px;
  background: #d0d0d0;
  transform: rotate(-45deg);
}
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  opacity: 0.4;
  display: none;
}
.modal-overlay--show {
  display: block;
}
